* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background {
  width: 100vw;
  height: 100vh;
  background-image: url(../img/back/plank.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.sidePanel {
  width: 30vw;
  height: 100vh;
  /*background-image: url(../img/back/panel2.jpg); panel 2 to obcięcia w photoshopie, jak starczy czasu*/
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  display: block;
  float: left;
}

.board {
  width: 70vw;
  height: 100vh;
  background-image: url(../img/back/map.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  display: block;
  float: right;
}

.pirateShip {
  position: relative;
  z-index: 10;
  width: 55px;
  height: 55px;
  background-image: url(../img/ships/Pirate_Ship.png);
  background-repeat: no-repeat;
  background-size: contain;
  top: 190px;
  left: 980px;
}

.ship1 {
  position: relative;
  z-index: 10;
  width: 55px;
  height: 55px;
  background-image: url(../img/ships/Warrior.png);
  background-repeat: no-repeat;
  background-size: contain;
  top: 50px;
  left: 850px;
}

.ship2 {
  position: relative;
  z-index: 10;
  width: 55px;
  height: 55px;
  background-image: url(../img/ships/japanese_ship.png);
  background-repeat: no-repeat;
  background-size: contain;
  top: 480px;
  left: 1280px;
}

.palm {
  position: absolute;
  z-index: 5;
  width: 100px;
  height: 100px;
  background-image: url(../img/monkey/palm2.png);
  background-repeat: no-repeat;
  background-size: contain;
  top: 380px;
  left: 920px;
}

.monkey {
  position: absolute;
  z-index: 10;
  width: 75px;
  height: 75px;
  background-image: url(../img/monkey/monkey7.png);
  background-repeat: no-repeat;
  background-size: contain;
  top: 430px;
  left: 940px;
}

.monkeyFace {
  position: absolute;
  z-index: 100;
  width: 600px;
  height: 600px;
  background-image: url(../img/monkey/monkeyFace.png);
  background-repeat: no-repeat;
  background-size: contain;
  top: 60px;
  left: 750px;
  display: none;
}

.banana {
  position: relative;
  z-index: 10;
  width: 20px;
  height: 20px;
  background-image: url(../img/monkey/banana.png);
  background-repeat: no-repeat;
  background-size: contain;
  top: 310px;
  left: 990px;
}

.bananas {
  position: absolute;
  z-index: 8;
  width: 30px;
  height: 30px;
  background-image: url(../img/monkey/bananas.png);
  background-repeat: no-repeat;
  background-size: contain;
  top: 475px;
  left: 980px;
}

.grave {
  position: absolute;
  z-index: 6;
  width: 70px;
  height: 70px;
  background-image: url(../img/monkey/RIP.png);
  background-repeat: no-repeat;
  background-size: contain;
  top: 430px;
  left: 940px;
}

.treasure {
  position: absolute;
  z-index: 5;
  width: 70px;
  height: 70px;
  background-image: url(../img/treasure.png);
  background-repeat: no-repeat;
  background-size: contain;
  top: 230px;
  left: 1200px;
}
