* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background {
  width: 100vw;
  height: 100vh;
  background-image: url(../img/back/plank.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.sidePanel {
  width: 30vw;
  height: 100vh;
  background-image: url(../img/back/scroll.png);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
  display: block;
  float: left;
  margin-top: 50px;
}

.barrelEmpty {
  position: absolute;
  z-index: 5;
  width: 100px;
  height: 100px;
  background-image: url(../img/bEmpty.ico);
  background-repeat: no-repeat;
  background-size: contain;
  top: 390px;
  left: 280px;
  display: none;
}

.barrelFull {
  position: absolute;
  z-index: 5;
  width: 100px;
  height: 100px;
  background-image: url(../img/bFull.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  top: 390px;
  left: 280px;
}

.board {
  width: 70vw;
  height: 100vh;
  background-image: url(../img/back/map.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  display: block;
  float: right;
}

.pirateShip {
  position: relative;
  z-index: 10;
  width: 55px;
  height: 55px;
  background-image: url(../img/ships/Pirate_Ship.png);
  background-repeat: no-repeat;
  background-size: contain;
  top: 190px;
  left: 980px;
  animation: flow 25s ;
}

@keyframes flow {
  0% { transform: translate(0, 0); }
  5% { transform: translate(-20px, 10px); }
  10% { transform: translate(-10px, 20px); }
  20% { transform: translate(-100px, 20px); }
  25% { transform: translate(-130px, 30px); }
  30% { transform: translate(-150px, 0); }
  35% { transform: translate(-250px, -20px); }
  40% { transform: translate(-300px, 100px); }
  45% { transform: translate(-320px, 90px); }
  50% { transform: translate(-150px, 250px); }
  55% { transform: translate(-150px, 350px); }
  60% { transform: translate(-50px, 350px); }
  65% { transform: translate(-50px, 310px); }
  70% { transform: translate(0, 310px); }
  75% { transform: translate(50px, 250px); }
  80% { transform: translate(100px, 250px); }
  85% { transform: translate(150px, 250px); }
  90% { transform: translate(220px, 150px); }
  95% { transform: translate(290px, 90px); }
  100% { transform: translate(280px, 70px); }
}

.ship1 {
  position: relative;
  z-index: 10;
  width: 55px;
  height: 55px;
  background-image: url(../img/ships/Warrior.png);
  background-repeat: no-repeat;
  background-size: contain;
  top: 50px;
  left: 850px;
  animation: ship1 5s ;
}

@keyframes ship1 {
  0% { transform: translate(0, 0); }
  100% { transform: translate(-100px, 20px); }
}

.shipyard {
  position: absolute;
  z-index: 10;
  width: 50px;
  height: 50px;
  background-image: url(../img/Shipyard.png);
  background-repeat: no-repeat;
  background-size: contain;
  top: 270px;
  left: 620px;
}

.palm {
  position: absolute;
  z-index: 5;
  width: 100px;
  height: 100px;
  background-image: url(../img/monkey/palm2.png);
  background-repeat: no-repeat;
  background-size: contain;
  top: 380px;
  left: 920px;
}

.monkey {
  position: absolute;
  z-index: 10;
  width: 75px;
  height: 75px;
  background-image: url(../img/monkey/monkey7.png);
  background-repeat: no-repeat;
  background-size: contain;
  top: 430px;
  left: 940px;
  display: none;
}

.monkeyFace {
  position: absolute;
  z-index: 100;
  width: 600px;
  height: 600px;
  background-image: url(../img/monkey/monkeyFace.png);
  background-repeat: no-repeat;
  background-size: contain;
  top: 60px;
  left: 750px;
  display: none;
}

.banana {
  position: relative;
  z-index: 10;
  width: 20px;
  height: 20px;
  background-image: url(../img/monkey/banana.png);
  background-repeat: no-repeat;
  background-size: contain;
  top: 310px;
  left: 990px;
}

.bananas {
  position: absolute;
  z-index: 8;
  width: 30px;
  height: 30px;
  background-image: url(../img/monkey/bananas.png);
  background-repeat: no-repeat;
  background-size: contain;
  top: 475px;
  left: 980px;
  display: none;
}

.grave {
  position: absolute;
  z-index: 6;
  width: 70px;
  height: 70px;
  background-image: url(../img/monkey/RIP.png);
  background-repeat: no-repeat;
  background-size: contain;
  top: 430px;
  left: 940px;
  display: none;
}

.ship2 {
  position: relative;
  z-index: 10;
  width: 55px;
  height: 55px;
  background-image: url(../img/ships/japanese_ship.png);
  background-repeat: no-repeat;
  background-size: contain;
  top: 480px;
  left: 1280px;
  animation: ship2 5s ;
}

@keyframes ship2 {
  0% { transform: translate(0, 0); }
  100% { transform: translate(-200px, 0); }
}

.treasure {
  position: absolute;
  z-index: 5;
  width: 70px;
  height: 70px;
  background-image: url(../img/treasure.png);
  background-repeat: no-repeat;
  background-size: contain;
  top: 230px;
  left: 1200px;
}

.ufo {
  position: absolute;
  z-index: 10;
  width: 100px;
  height: 55px;
  background-image: url(../img/ufo.png);
  background-repeat: no-repeat;
  background-size: contain;
  top: 50px;
  left: 650px;
  display: none;
  animation: ufo 5s ;
}

@keyframes ufo {
  0% { transform: translate(0, 0); }
  30% { transform: translate(0, 100px); }
  100% { transform: translate(0, 100px) scale(10); }
}
