@font-face { font-family: Rapscall; src: url('../fonts/RAPSCALL.TTF'); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Rapscall, serif;
}

.intro {
  width: 100vw;
  height: 100vh;
  background-image: url(../img/back/intro.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.intro h1 {
  font-size: 120px;
  margin: 40px;
}

.background {
  width: 100vw;
  height: 100vh;
  background-image: url(../img/back/plank.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.sidePanel {
  width: 30vw;
  height: 550px;
  background-image: url(../img/back/scroll.png);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
  display: block;
  float: left;
  margin-top: 50px;
}

.barrelEmpty {
  position: absolute;
  z-index: 5;
  width: 100px;
  height: 100px;
  background-image: url(../img/bEmpty.ico);
  background-repeat: no-repeat;
  background-size: contain;
  top: 390px;
  left: 280px;
  display: none;
}

.barrelFull {
  position: absolute;
  z-index: 5;
  width: 100px;
  height: 100px;
  background-image: url(../img/Barrel_full.png);
  background-repeat: no-repeat;
  background-size: contain;
  top: 390px;
  left: 280px;
}

.board {
  width: 70vw;
  height: 100vh;
  background-image: url(../img/back/map.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  display: block;
  float: right;
}

.sidePanel h1 {
  font-size: 42px;
  color: #333;
  z-index: 15;
  margin-top: 80px;
  margin-left: 80px;
}

.pirateShip {
  position: relative;
  z-index: 10;
  width: 55px;
  height: 55px;
  background-image: url(../img/ships/Pirate_Ship.png);
  background-repeat: no-repeat;
  background-size: contain;
  top: 190px;
  left: 980px;
  animation: flow 100s ;
  animation-fill-mode: forwards;
}

@keyframes flow {
  0% { transform: translate(0, 0); }
  3% { transform: translate(-20px, 10px); }
  4% { transform: translate(-20px, 10px) scaleX(-1); }
  6% { transform: translate(-10px, 25px) scaleX(-1) rotate(10deg); }
  7% { transform: translate(-10px, 25px) rotate(20deg); }
  12% { transform: translate(-100px, 20px); }
  18% { transform: translate(-150px, 30px) rotate(20deg); }
  20% { transform: translate(-160px, -10px); }
  23% { transform: translate(-250px, -20px) rotate(20deg); }
  40% { transform: translate(-300px, 100px); }
  44% { transform: translate(-320px, 90px) rotate(20deg); }
  45% { transform: translate(-320px, 90px) rotate(20deg) scaleX(-1); }
  50% { transform: translate(-150px, 250px) scaleX(-1); }
  56% { transform: translate(-150px, 250px) scaleX(-1) rotate(20deg); }
  59% { transform: translate(-150px, 350px) scaleX(-1); }
  63% { transform: translate(-50px, 350px) scaleX(-1); }
  65% { transform: translate(-50px, 310px) scaleX(-1); }
  70% { transform: translate(0, 310px) scaleX(-1) rotate(-20deg); }
  75% { transform: translate(50px, 250px) scaleX(-1); }
  80% { transform: translate(100px, 250px) scaleX(-1); }
  85% { transform: translate(150px, 350px) scaleX(-1) rotate(-20deg); }
  90% { transform: translate(220px, 150px) scaleX(-1); }
  95% { transform: translate(290px, 90px) scaleX(-1); }
  100% { transform: translate(280px, 70px); }
}

.ship1 {
  position: relative;
  z-index: 10;
  width: 55px;
  height: 55px;
  background-image: url(../img/ships/Warrior.png);
  background-repeat: no-repeat;
  background-size: contain;
  top: 50px;
  left: 850px;
  animation: ship1 8s;
  animation-delay: 15s;
  animation-fill-mode: forwards;
}

@keyframes ship1 {
  0% { transform: translate(0, 0); }
  45% { transform: rotate(20deg); }
  90% { transform: translate(-100px, 20px); }
  100% { transform: translate(-100px, 20px) rotate(-40deg); }
}

/*.explosion1 {
  position: absolute;
  z-index: 10;
  width: 50px;
  height: 50px;
  background-image: url(../gif/explosion.gif);
  background-repeat: no-repeat;
  background-size: contain;
  top: 70px;
  left: 100px;
}*/

/*.explosion2 {
  position: absolute;
  z-index: 10;
  width: 50px;
  height: 50px;
  background-image: url(../gif/flame.gif);
  background-repeat: no-repeat;
  background-size: contain;
  top: 20px;
  left: 80px;
}*/

/*.explosion3 {
  position: absolute;
  z-index: 10;
  width: 50px;
  height: 50px;
  background-image: url(../gif/explosion.gif);
  background-repeat: no-repeat;
  background-size: contain;
  top: 220px;
  left: 10px;
}*/

/*.fire {
  position: absolute;
  z-index: 10;
  width: 50px;
  height: 50px;
  background-image: url(../gif/fire.gif);
  background-repeat: no-repeat;
  background-size: contain;
  top: 270px;
  left: 620px;
}*/

.shipyard {
  position: absolute;
  z-index: 5;
  width: 50px;
  height: 50px;
  background-image: url(../img/Shipyard.png);
  background-repeat: no-repeat;
  background-size: contain;
  top: 270px;
  left: 620px;
}

.palm {
  position: absolute;
  z-index: 5;
  width: 100px;
  height: 100px;
  background-image: url(../img/monkey/palm2.png);
  background-repeat: no-repeat;
  background-size: contain;
  top: 380px;
  left: 920px;
}

.monkey {
  position: absolute;
  z-index: 10;
  width: 75px;
  height: 75px;
  background-image: url(../img/monkey/monkey7.png);
  background-repeat: no-repeat;
  background-size: contain;
  top: 430px;
  left: 940px;

}

.monkeyFace {
  position: absolute;
  z-index: 100;
  width: 600px;
  height: 600px;
  background-image: url(../img/monkey/monkeyFace.png);
  background-repeat: no-repeat;
  background-size: contain;
  top: 60px;
  left: 750px;
  display: none;
}

.banana {
  position: relative;
  z-index: 10;
  width: 20px;
  height: 20px;
  background-image: url(../img/monkey/banana.png);
  background-repeat: no-repeat;
  background-size: contain;
  top: 310px;
  left: 990px;
}

.bananas {
  position: absolute;
  z-index: 8;
  width: 30px;
  height: 30px;
  background-image: url(../img/monkey/bananas.png);
  background-repeat: no-repeat;
  background-size: contain;
  top: 475px;
  left: 980px;

}

.grave {
  position: absolute;
  z-index: 6;
  width: 70px;
  height: 70px;
  background-image: url(../img/monkey/RIP.png);
  background-repeat: no-repeat;
  background-size: contain;
  top: 430px;
  left: 940px;

}

.ship2 {
  position: relative;
  z-index: 10;
  width: 55px;
  height: 55px;
  background-image: url(../img/ships/japanese_ship.png);
  background-repeat: no-repeat;
  background-size: contain;
  top: 480px;
  left: 1280px;
  animation: ship2 10s ;
  animation-delay: 75s;
  animation-fill-mode: forwards;
}

@keyframes ship2 {
  0% { transform: translate(0, 0); }
  40% { transform: translate(-150px, 0) rotate(0); }
  60% { transform: translate(-150px, 0) rotate(20deg); }
  100% { transform: translate(-180px, -100px) rotate(20deg); }
}

/*.explosion4 {
  position: absolute;
  z-index: 10;
  width: 50px;
  height: 50px;
  background-image: url(../img/explosion.gif);
  background-repeat: no-repeat;
  background-size: contain;
  top: 70px;
  left: 20px;
}*/

/*.explosion5 {
  position: absolute;
  z-index: 10;
  width: 50px;
  height: 50px;
  background-image: url(../gif/explosion.gif);
  background-repeat: no-repeat;
  background-size: contain;
  top: 170px;
  left: 120px;
}*/

.treasure {
  position: absolute;
  z-index: 5;
  width: 70px;
  height: 70px;
  background-image: url(../img/treasure.png);
  background-repeat: no-repeat;
  background-size: contain;
  top: 230px;
  left: 1200px;
}

.ufo {
  position: absolute;
  z-index: 10;
  width: 100px;
  height: 55px;
  background-image: url(../img/ufo.png);
  background-repeat: no-repeat;
  background-size: contain;
  top: 50px;
  left: 650px;
  /*display: none;*/
  animation: ufo 5s ;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

@keyframes ufo {
  0% { transform: translate(0, 0); }
  30% { transform: translate(0, 220px); }
  100% { transform: translate(0, 220px) scale(12); }
}

/*.explosion6 {
  position: absolute;
  z-index: 10;hgtf
  width: 50px;
  height: 50px;
  background-image: url(../gif/pulsegun.gif);
  background-repeat: no-repeat;
  background-size: contain;
  top: 270px;
  left: 620px;
}*/

/*.explosion7 {
  position: absolute;
  z-index: 10;
  width: 50px;
  height: 50px;
  background-image: url(../gif/pulsegun.gif);
  background-repeat: no-repeat;
  background-size: contain;
  top: 270px;
  left: 620px;
}*/

.gameOver {
  width: 100vw;
  height: 100vh;
  background-image: url(../img/back/gameOver.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.gameOver h1 {
  font-size: 200px;
}
